<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; AugustBaby108 by <a href="http://www.olucube.com/"> olucube.com</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About Me", pages_about_path %></li>
			</ul>
		</nav>

		<div class="pull-right">
			<a href="http://www.twitter.com/0lucube" target="blank">
				<%= image_tag("facebook.png") %> </a>
		</div>

	</footer>
</div>